# Teste BelugaDB - Data Engineer
## Rafael Augusto de Oliveira
### Github: https://github.com/OliRafa
### LinkedIn: https://www.linkedin.com/in/rafael-augusto-oliveira-658560171/

###### Maio - 2019

#### Importando blibiotecas e setando algumas configurações iniciais

In [1]:
#import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
from dateutil import parser, tz

#pd.set_option('display.max_colwidth', -1)
#pd.set_option('display.max_rows', 1000)
#pd.set_option('display.max_columns', -1)

spark = SparkSession \
        .builder \
        .appName("BelugaDB") \
        .config("spark.shuffle.service.enabled","true") \
        .config("spark.dynamicAllocation.enabled","true")\
        .getOrCreate()

#### Importando dataset e checando sua estrutura

In [2]:
dim = spark.read.csv('dim.csv', header=True)
dim.registerTempTable("dim")
dim.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- is_banner: string (nullable = true)
 |-- is_tax: string (nullable = true)
 |-- is_market_place: string (nullable = true)
 |-- material_status: string (nullable = true)
 |-- current_price_range: string (nullable = true)
 |-- cmc_division: string (nullable = true)
 |-- cmc_business_unit: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- product: string (nullable = true)

In [3]:
fact = spark.read.csv('fact.csv', header=True)
fact.registerTempTable("fact")
fact.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- view_date3: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- device: string (nullable = true)
 |-- product: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- store: string (nullable = true)
 |-- company: string (nullable = true)
 |-- view_date10: string (nullable = true)
 |-- gross total volume: string (nullable = true)
 |-- product net cost: string (nullable = true)
 |-- product net revenue: string (nullable = true)
 |-- gross merchandise volume: string (nullable = true)
 |-- item sold: string (nullable = true)
 |-- pageviews: string (nullable = true)

#### Realizando Join das tabelas para criação do flat dataset

Como inserido em ambiente de testes, DataFrame.cache() e DataFrame.show() serão utilizados aqui para visualização das transformações, apesar do seu alto uso de memória.

In [4]:
sql='''SELECT b.*,
                a.is_banner, 
                a.is_tax, 
                a.is_market_place, 
                a.material_status, 
                a.current_price_range, 
                a.cmc_division, 
                a.cmc_business_unit,
                a.gender
        FROM dim a INNER JOIN fact b 
        ON a.product = b.product
        ORDER BY order_date'''

dataset = spark.sql(sql)
dataset = dataset.drop('_c0')
dataset.createOrReplaceTempView("dataset")
dataset.cache()
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- view_date3: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- device: string (nullable = true)
 |-- product: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- store: string (nullable = true)
 |-- company: string (nullable = true)
 |-- view_date10: string (nullable = true)
 |-- gross total volume: string (nullable = true)
 |-- product net cost: string (nullable = true)
 |-- product net revenue: string (nullable = true)
 |-- gross merchandise volume: string (nullable = true)
 |-- item sold: string (nullable = true)
 |-- pageviews: string (nullable = true)
 |-- is_banner: string (nullable = true)
 |-- is_tax: string (nullable = true)
 |-- is_market_place: string (nullable = true)
 |-- material_status: string (nullable = true)
 |-- current_price_range: string (nullable = true)
 |-- cmc_division: string (nullable = true)
 |-- cmc_business_unit: string (nullable = true)
 |-- gender: string (nullable = true)

In [5]:
# Liberando espaço de memória por exclusão de tabelas já utilizadas
spark.catalog.dropTempView('dim')
spark.catalog.dropTempView('fact')
dim.unpersist()
fact.unpersist()

DataFrame[_c0: string, id: string, order_date: string, view_date3: string, currency: string, device: string, product: string, channel: string, store: string, company: string, view_date10: string, gross total volume: string, product net cost: string, product net revenue: string, gross merchandise volume: string, item sold: string, pageviews: string]

#### Calculando Average Cost Per Item

In [6]:
sql = '''SELECT t.total_sum / b.weight_sum AS `average cost`, t.product
         FROM (SELECT SUM(a.price_sum * a.weights) AS total_sum, a.product
                FROM (SELECT SUM(`product net cost`) AS price_sum, `item sold` AS weights, product
                      FROM dataset
                      WHERE `item sold` > 0.0 AND `product net cost` > 0.0
                      GROUP BY product, `item sold`) AS a
                GROUP BY a.product) AS t
         JOIN (SELECT SUM(`item sold`) AS weight_sum, product
                  FROM dataset
                  WHERE `item sold` > 0.0 AND `product net cost` > 0.0
                  GROUP BY product) AS b
         ON t.product = b.product'''
spark.sql(sql).show(n=100)

+------------------+-------+
|      average cost|product|
+------------------+-------+
|23.942538459274743|1002783|
|12.079333333333333| 101122|
| 69247.32821449758|1024606|
|            13.337| 102952|
|             32.96|1036260|
|           42852.0|1046915|
|32.919142856290335| 105344|
|27.154666669230462| 106585|
|             26.86|  11078|
| 30.68066666672093|1111275|
|             12.58| 111710|
| 8.549333339495465| 111982|
|             16.47|1177234|
|            229.59| 120922|
| 4.105052645474192| 123679|
|40.589666666666666|1240595|
| 42.18288889439857|1243371|
| 6.068444445065689|  12529|
|19.059802469517106|1282020|
|             5.198|1297992|
|17.269823548284748|1347366|
|37.788066669679814|  13772|
| 60.08369476238137|1444012|
| 7.180666667654134| 145079|
|             110.2| 154645|
|             6.513|1556400|
|             12.14|1567958|
|             24.01| 159526|
| 27.63216665719813| 159967|
|             18.05|1651826|
| 16.70833333428956|1654122|
| 20.15239196573121|  17506|
|              5.99|1782323|
|21.522333333333332|1787219|
|174.17279999632237| 188182|
|            49.478| 188325|
| 34.78418181182516|1898814|
| 5.383109087545979| 190480|
|54.317800000000005| 197976|
| 50.65584848183362|  20158|
|4661.0258886180645| 201828|
| 9.120833333573026| 205075|
|21.508666666666667| 205865|
| 36.52799999744641| 206292|
| 4.882533333333334| 207444|
|           50000.0|   2088|
| 69.17096969256193|  21259|
|             34.35|  21452|
|3.7651000069991993| 217264|
|            3161.0|  21889|
|20808.601085068527|2199542|
|22.112000000000002| 220290|
|             58.29| 222071|
|13.540888885642431| 222379|
| 8.146880000000001| 223190|
|             28.13| 223603|
|31.992614089884384| 228411|
| 4.803714284989257| 229137|
|             5.367| 229629|
| 36.45613334992107| 229650|
|7.4036666661730886| 229944|
| 7.662000000000001| 232289|
|             4.344| 235836|
|12.662931072059042| 237683|
|            22.068| 237800|
| 31.55268966030672|  24114|
|          20.28825| 241145|
| 6.050079305328933| 242533|
|            535.63| 243896|
|18.994024455353614| 245090|
|             11.57| 245151|
|114.24371426542926| 250891|
|14.436222224321241| 260168|
|110.45807590547228| 260441|
|50.954159999999995| 260674|
| 535.7052000000001| 267888|
|            57.018| 270885|
|28.844499999999996| 276448|
| 8.183428580724115| 279443|
|           15.0941| 279777|
|30.036389051871488| 280259|
|            38.506| 287067|
| 9.721774114875195| 289201|
|            10.941| 289740|
| 24.40166666587392|   2904|
|          21902.44| 291446|
|             27.07| 293057|
|             19.68| 294329|
|  4.41522222233884| 295303|
|260.54334775134805| 296450|
|           99832.0|2966225|
|             54.18| 298403|
|276.83799999999997|3056403|
|            28.935| 309839|
|18.301000000000002|3103250|
| 3.851464287968379|  31118|
|56.663000000000004|3131825|
|23.906127271658686| 318220|
| 64.29333333333334|3188103|
| 74.52236363432306| 319705|
+------------------+-------+
only showing top 100 rows

In [7]:
temp = spark.sql(sql)
temp.createOrReplaceTempView("temp")
sql = '''SELECT a.*, b.`average cost`
        FROM dataset a LEFT JOIN temp b 
        ON a.product = b.product
        ORDER BY order_date'''
dataset = spark.sql(sql)
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- view_date3: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- device: string (nullable = true)
 |-- product: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- store: string (nullable = true)
 |-- company: string (nullable = true)
 |-- view_date10: string (nullable = true)
 |-- gross total volume: string (nullable = true)
 |-- product net cost: string (nullable = true)
 |-- product net revenue: string (nullable = true)
 |-- gross merchandise volume: string (nullable = true)
 |-- item sold: string (nullable = true)
 |-- pageviews: string (nullable = true)
 |-- is_banner: string (nullable = true)
 |-- is_tax: string (nullable = true)
 |-- is_market_place: string (nullable = true)
 |-- material_status: string (nullable = true)
 |-- current_price_range: string (nullable = true)
 |-- cmc_division: string (nullable = true)
 |-- cmc_business_unit: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- average cost: double (nullable = true)

In [8]:
dataset.createOrReplaceTempView('dataset')
spark.catalog.dropTempView('temp')

#### Calculando Average Price Per Item

In [9]:
sql = '''SELECT t.total_sum / b.weight_sum AS `average price`, t.product
         FROM (SELECT SUM(a.price_sum * a.weights) AS total_sum, a.product
                FROM (SELECT SUM(`product net revenue`) AS price_sum, `item sold` AS weights, product
                      FROM dataset
                      WHERE `item sold` > 0.0 AND `product net revenue` > 0.0
                      GROUP BY product, `item sold`) AS a
                GROUP BY a.product) AS t
         JOIN (SELECT SUM(`item sold`) AS weight_sum, product
                  FROM dataset
                  WHERE `item sold` > 0.0 AND `product net revenue` > 0.0
                  GROUP BY product) AS b
         ON t.product = b.product'''
spark.sql(sql).show(n=1000)

+------------------+-------+
|     average price|product|
+------------------+-------+
| 47.98561538007844|1002783|
|              31.1|1005483|
| 48.48466666666667| 101122|
| 5.017636358138073|1014942|
|13.459238095567121|1016299|
| 98687.69997308632|1024606|
|             28.74|1026172|
| 5.266432432945643|1028527|
|             37.99|1028799|
|           13.4595| 102952|
|             43.57|1036260|
|             90.93|1036553|
|          63785.46|1046915|
|19.161153846199777|1049200|
| 5.191999999137599|1052326|
|62.089538459916035| 105344|
|13.347999999999999|1055308|
|             41.84|1059049|
|10.756666668145336|1064995|
|5.0417142854448285|1065129|
| 18.67766666842776| 106585|
|             60.68|1065935|
|            202.47|1069730|
|1222.7654555555555|1069791|
|  8.77254273527006|1071238|
|4237.8247139208615|1076191|
|             26.42|1077907|
|             35.81|1077926|
|             36.36|  11078|
| 34.70333333339467|1111275|
|             18.17| 111710|
|12.833750009251997| 111982|
| 762.0875556219797| 112480|
|             23.99|1177234|
|            218.18| 120922|
| 5.448789492133644| 123679|
| 52.88804166666665|1240595|
| 35.64111111576622|1243371|
|6.4460000006591995|  12529|
| 33.95109876611135|1282020|
|21.877448283034603| 128505|
|10.972000000000001|1297992|
| 29.49411767929176|1347366|
| 52.55766667109277|  13772|
| 81.56451534833396|1444012|
|14.220666668622131| 145079|
|             77.43| 149088|
|122.91000000000001| 154645|
|            10.206|1556400|
|             17.49|1567958|
|             34.91| 159526|
|39.006166653300525| 159967|
|             14.74|1651826|
| 26.83555555715437|1654122|
| 28.81631181521437|  17506|
|             15.88|1782323|
|           42.4727|1787219|
|168.52144999644145| 188182|
| 22.37565216249061| 188263|
|62.614000000000004| 188325|
| 63.94345453376931|1898814|
| 8.482163631002095| 190480|
|16.194875000000003| 190801|
| 68.56800000000001| 196082|
|11.288799999686374| 196553|
|           83.1908| 197976|
|             33.41| 199639|
| 65.48203029911785|  20158|
|3481.1040414654176| 201828|
|15.459577778183483| 205075|
| 36.05266666666667| 205865|
|47.398285710972345| 206292|
| 7.325733333333333| 207444|
|          62100.84|   2088|
| 122.1495151437207|  21259|
|51.693333333333335|  21452|
| 4.624933341933866| 217264|
|          4145.795|  21889|
| 19940.19768244483|2199542|
|            25.218| 220290|
|             94.57| 222071|
| 21.73244443925269| 222379|
|21.358800000000002| 223190|
|             50.92| 223603|
|47.630363099083354| 228411|
|10.134285712757142| 229137|
| 9.165000000000001| 229629|
|  54.7376000249048| 229650|
|12.130888888087272| 229944|
| 27.94333333333333| 230289|
|10.636000000000001| 232289|
| 6.672000000000001| 235836|
|17.078954050223444| 237683|
|            37.642| 237800|
| 47.04413793875397|  24114|
|        17.8340625| 241145|
|11.542240384556594| 242533|
|            734.71| 243896|
| 29.52987287378951| 245090|
|              8.46| 245108|
|             21.67| 245151|
|156.63514282933096| 250891|
| 37.42033333877307| 260168|
|122.34907028509352| 260441|
|          74.77608| 260674|
|           1396.69| 265028|
|             87.19| 266521|
| 602.7947999999999| 267888|
|            95.868| 270885|
|          23823.52| 274083|
| 41.45824999999999| 276448|
|10.585142869166173| 279443|
|14.115900000000002| 279777|
| 36.62330960217878| 280259|
| 9.658666666014133| 284394|
|            51.064| 287067|
|11.664820512085011| 287606|
|15.353944370064024| 289201|
|13.760000000000002| 289740|
| 39.80899999867155|   2904|
|         34423.524| 291446|
|             69.87| 292237|
|             27.65| 293057|
|             43.43| 294329|
| 6.866214814992874| 295303|
|329.02873903604836| 296450|
|          138500.0|2966225|
|             72.39| 298403|
| 2.402666666996534|3000615|
|             42.06|3034002|
|           8.51675| 304026|
|296.09799999999996|3056403|
|             36.36| 309839|
|             19.62|3103250|
|  7.28696428997868|  31118|
| 95.35799999999998|3131825|
|29.265090907782742| 318220|
| 85.28666666666668|3188103|
| 82.84916363423764| 319705|
|             94.51|3199977|
| 41.92527083345545| 320444|
| 5890.417667188572| 321060|
|26.730249999739623| 322211|
|           15.0426| 324161|
|             41.83|3244989|
|            652.06| 325029|
|              29.1|3251865|
|  4886.91338852645| 325704|
|             29.18| 327654|
|34.455204152271975|  32773|
|           15.6752| 328875|
| 26.95678259405993|3291088|
|              6.25| 332327|
|          44915.96| 332993|
|13.281316024770133| 333648|
| 16.50565852421948| 333950|
| 8.225629630985127| 334053|
|             65.54|3349362|
|             16.26|3351254|
| 19.72785828798626| 336437|
| 38.62632696852459| 336531|
|             29.09| 337220|
|         1323.2365| 338622|
|            867.47| 340207|
| 36.29675547037825| 340370|
| 7.580699766008232| 341112|
|260.57942852891614| 341336|
| 6.155561904444962| 342851|
|25.259999999999998|3432120|
|24.066500001439145|3436789|
|             5.668| 343744|
| 6.871777778828355| 344393|
| 33.60384770764387|3457964|
|3.6946491227001794| 346120|
|           7348.74| 346812|
|101.19008801408516|3499693|
|11.991200000000001| 350582|
|18.957954544266205|3524589|
|           3022.68|3537306|
|23.454385963473705| 353867|
|             18.31| 354042|
|11.216828570995927|3543452|
|15.321278078708723|3569884|
|           18.2175|3579075|
|113.13517254705009|3579177|
|36.914021729237554|3583025|
|7.7940000000000005|3589386|
| 8.693000000000001|3611546|
|3.4682000000000004| 366300|
| 14.68131111201613| 367711|
|10.773333333162666|3695628|
|            10.578|3696210|
| 7.799999999999998| 371102|
|             7.726|3717773|
|             14.54|3721752|
|            13.344| 372266|
|  9.85616666980339| 372616|
| 5937.561966485377|3729390|
|  37.8409444464836| 373386|
|  8811.58719028004|3736408|
|          80647.05|3751396|
| 9.958666665994135| 377555|
|11.982000000906398|3778382|
|            30.206|3797410|
|    58.99999999528| 380036|
| 9.758272726494173|3810157|
|              49.9|3816939|
|         4865.7055|3822243|
| 99.82974905434207|3822478|
| 5988.717600000001| 382352|
| 94.15263421854469|3829370|
|            115.68|3829831|
| 5.366000000000001| 384014|
|12.863666667235734|3840544|
| 9.167733333333334| 384096|
| 5890.000599990739|3845617|
| 7.047384622920123| 385229|
| 19.10434986083623|3865040|
|            523.52|3870141|
| 5.446409090885077|3880874|
|          211.5075| 388090|
|4.1528571428351935|3884769|
|            39.756| 388733|
|             49.76| 392206|
| 70.49341358701744|3923040|
| 33.86500000000001|  39350|
|           123.916|  39458|
|           5878.15|3956856|
|14.356699999999996| 396388|
|            404.95|3978111|
|17.806339393771555|3980947|
|10.340857925916408|4010525|
|            120.03|4014053|
|             9.454| 402177|
| 9.208666668123731| 402445|
|            36.856| 403501|
|14.711500000011576| 405125|
| 91.28245453737176|4057939|
| 78.55745679083552|4068425|
|             3.456|4074030|
| 9.406000001627199|4078571|
|            25.825| 407955|
| 6.148554110638978|4085549|
|17.681600000000003|  41105|
|             41.62|4115341|
|             14.16| 411851|
|             5.238|4119807|
| 24.81054545186592| 412576|
|14.190599999999998| 413141|
|             8.544| 413455|
|             15.38|4135378|
| 22.68566666620022| 413680|
|12.552245612729166| 414329|
|              78.2| 414827|
|         11007.828| 415180|
|          46815.12|4164601|
|             12.72| 416950|
| 28.45496553534348|4171804|
| 30.62127268596814|4174573|
| 14.58465387692517| 418134|
|14.851521602320968| 418853|
|          33478.99|4188574|
| 7.626244989242875| 418913|
|12.978333704559418| 421513|
|11991.426001692907|4216506|
|        11.4845625|4220569|
|21.461000000000002| 422308|
|19308.832333105656|4226671|
|             19.63|4226803|
|   8.2669789469749|4228565|
|20.879166666666666|4239818|
|             36.13|4249237|
| 421.2507777390129| 426916|
| 872.1133717710849|4269481|
|          123.1676|4273613|
| 5.359561778336601|4274721|
|          6128.201| 428783|
| 38.15416898002258|  42923|
|             50.92| 429742|
|             47.29| 429863|
|             12.72|4309117|
|              3.78|4309807|
|            7.3465| 431434|
|   14.844999997525|4319244|
|            116.39|4322940|
|20.153000000000002| 433672|
|136.72523075057097|4336732|
|             80.02|4340460|
| 87.93666666666667| 434293|
|60.757133333333336|4344946|
|             15.41|4347052|
|            107.08|4352662|
|           3401.84| 435697|
|             7.121|4357967|
|           7890.75|4360874|
|15.604444443764558|4364199|
| 242.0366666503213|4366527|
|26.364222226250845| 437369|
|13404.703333333333| 438010|
| 9.843444445335344| 438129|
|30.151857140168815|4386342|
|36.593900000000005| 438801|
| 64.32557141781187| 438941|
|              27.5| 439051|
| 27.75275279329914| 439343|
| 6.214691357994845| 440030|
|             30.35| 443604|
|3.0259999997184006| 444846|
|          56218.48| 446309|
|           22.6094| 446993|
| 7.322833333333333|  44801|
| 9.932128571291894| 448844|
|          10563.02| 449724|
|12.591866666503163| 449841|
|12.566677248428334| 450007|
|            7.0396| 451192|
|20.799999999999997| 451599|
| 33.27277777777778| 452166|
|14.402333334269233| 452212|
|18.769499999999997| 452448|
|20.416363632688736| 452827|
| 54.67163635975767| 453785|
|             13.08| 454253|
| 47.12428984604047| 455070|
|        17135.1746| 456124|
|23.013333337314666| 456901|
|             76.38| 457924|
|11.200500000000002| 458146|
|31.373136361321187| 458388|
| 15.24655555537439| 458477|
|             15.26| 458662|
| 7.470507936705999| 459283|
|55.378049999999995| 459636|
|           193.604| 460437|
| 34.70132058602879| 460901|
|          32135.29| 460963|
|             28.29| 461378|
| 7.529000000000001| 462117|
|            28.184| 462160|
| 5.982666667244533| 462751|
| 6.107208335483384| 463388|
|              36.2| 464018|
| 70.92999999999999|  46683|
|          12.54425| 467636|
|             80.02| 469607|
|15.975333333333333| 469851|
|            183.99| 473731|
| 8.435999999592399| 474559|
|            218.17| 475011|
|             23.88| 475851|
| 154.9784821328216| 476559|
|              9.16| 476603|
|             16.18| 476818|
|14.026342857142854| 477271|
|29.383102562438005| 478955|
|28.600000005327992| 479249|
|14.733799999999999| 479615|
|130.04000000000002| 481538|
|             91.97| 482376|
|43.011113338457385| 485827|
|            80.108| 485842|
|             43.65| 485893|
|105.62533333333334| 486792|
| 50.68674999983367| 489165|
| 79.15803931682646| 491045|
| 63.94333333333333| 491349|
|25.213368417263325| 492618|
|  29.7339999976216| 493029|
|             72.67| 494244|
|             11.66| 494729|
|            115.31| 496427|
|             18.31| 497760|
|             11.83| 497815|
|44.639978350711004| 498125|
| 7.186798910556049| 498667|
|             18.01| 500903|
| 748.0346666516366| 501287|
|4.7353000000000005| 501878|
|220.75038173713685| 502620|
|12.436909088898616| 503746|
|              54.2| 504774|
|         119.05175| 505408|
|38.116621115027435| 506777|
|21.981666669689332| 507425|
| 70.42333334543866| 507514|
|             17.03| 508020|
|           13.5596| 508884|
|             20.37| 508905|
| 8.213333332778666| 508953|
| 31.18050920561974| 510436|
|19.950891165160872| 510940|
|             27.24| 511135|
|38.184500002827946| 511472|
|          18058.82| 511789|
|             111.2| 512334|
|23.195421508480102| 513264|
|46692.880000000005| 514838|
|18.990181814749967| 515016|
|16.347499998613586|  51550|
|14.361263155223748| 515874|
|           6799.15| 517254|
|              13.7| 518388|
|33.447333336409734| 519132|
|13.436537439545859| 520205|
|             51.62| 520302|
|  20.8406666666755| 520705|
|27.356599999999993| 521604|
|            18.428| 521690|
|           238.903|  52206|
|             65.47| 522438|
|16.163333333333334| 523563|
|            77.359| 524183|
|             6.418| 524904|
| 35.66828570906435| 525494|
|12.792266666666668| 526047|
|14.306999994955202| 526471|
| 92.13761269974079| 527381|
|111.32582099278325| 528248|
|30.200944446171594| 529593|
|             73.02|  52991|
|62243.248052064206| 530320|
| 32.71790477596896| 531979|
| 22.85622222278262| 532876|
| 16.08811111233981|  53380|
| 8.409368434010931| 533895|
|           5201.68| 534992|
| 32.85476667059784| 535432|
|23.127182868439014| 535808|
|13.174080645461101| 537125|
|25.884542782257355| 538041|
|             8.118| 539275|
| 94.18201553955298| 540499|
|             43.64| 541432|
| 15.39894117266532| 545850|
|25.997391289461568| 548542|
|             47.28| 549160|
| 6.055333333121734| 550831|
|14.301599999999999| 551479|
|            46.134| 551692|
|31078.450253877196| 552215|
| 13.91937255918712| 552238|
|11.499521367493998| 552277|
|             58.19| 552677|
|             14.74| 552852|
|              40.0| 553454|
|  19.4223434653343| 554211|
|            23.893| 554441|
|26.999571426409045| 554630|
|15327.724999999999| 555211|
|20.799999999359997| 555779|
|62.937022204875504| 555868|
|127.09799998706241| 556441|
|25.814678320653055| 556584|
| 49.36093333333333| 556677|
|10.136199999999999| 556732|
|              40.0| 557732|
|              29.1| 557757|
|34.090933317702536| 558517|
|           35.2712| 559062|
|              12.0| 560095|
| 535.4666666666666| 560465|
|   9.9760000009632| 560536|
|   31.290000005208| 561057|
|              6.24| 562945|
|         21.540625| 563646|
| 9.978382396981837| 564588|
| 34.16312190045418| 564748|
|             7.225| 567198|
|              40.0| 572143|
| 8.415980000000001| 572446|
| 83.42207691577379| 573020|
|              3.23| 574844|
|  4.77821568700437|  57496|
|              5.86| 575026|
| 19.52794594721853| 577042|
|13.307449999772812| 577511|
|           11.8592| 577541|
|           13.6165| 578280|
|112.51887500000001| 578710|
|25.365919366023572| 580007|
|           31.3024| 580341|
|          12663.86| 580490|
| 6.294666667610931| 585959|
|            203.69| 587517|
|           543.598| 590022|
|489.04499999999996| 590736|
|14.229000000000003| 593473|
| 994.0553333333334|  59370|
|            37.824| 594414|
|19.869777777209674| 594533|
| 76.01675592181925| 594703|
|15.997399999999999| 595264|
|14.506839999999999| 596003|
|            11.417|  59722|
|15.468666665920134| 600152|
|         28906.512| 600169|
|             5.968| 600198|
| 48.69712500115693| 600735|
|132.30200000000002| 602286|
| 9.450764718254069| 603905|
|3907.0739999113607| 604636|
|  19.5335476190575| 605538|
|  10.3962619044175| 605765|
|         15874.785| 606124|
|29.768784352708288| 607479|
|            8.6558| 608710|
|14.489947365761015| 609082|
|12.053333333333333| 609718|
|              53.1| 611396|
|           9907.56| 614465|
|            191.74| 614862|
|            39.837| 615275|
| 5.523333333020666| 617589|
| 3.304476191196119| 617780|
|           8311.76| 617861|
| 40.08009523375466| 618946|
|             35.46|   6194|
|16.002000000000002| 619646|
|122.75806666666669| 620678|
| 67.99233333333333| 622021|
|         21.163175| 622430|
|24.487222188828444| 622960|
|          13857.14| 623567|
|             27.51| 623653|
|106.77422222718761| 624902|
|            285.12| 627835|
| 96.11638260026363| 629640|
| 86.43595832548765| 630288|
|          18470.58| 633090|
|            42.044| 633527|
| 115.3848733402868| 635579|
| 62.97150003855519| 636315|
| 449.7009500000001| 636403|
|63.345000000000006| 637441|
|            185.54| 637842|
|1379.6828779388466| 637900|
|256.79200002347835| 637936|
|             50.92| 638975|
|          10079.83| 639820|
|21.577223529411768| 640275|
|           4787.39| 641157|
|            937.19| 641661|
|            18.698| 642270|
|           8849.57| 642507|
|30.896199999999997| 643013|
|4044.3479996362826| 643324|
|             16.59| 643943|
| 14.78881538529986| 644176|
|24.321666665210216| 645406|
|16.490632451360536| 648414|
| 8071.593000000001| 648634|
|25.816461533506708| 649628|
|           23.4936| 650723|
| 21.41277777970128| 651154|
|  13.5159999989184| 651247|
|  9.52130769047674| 651924|
|26.923739118395755| 652124|
|289.13666670748535| 655176|
|28.716247473132864| 655459|
|            338.01| 656234|
|23.929134731673248| 656863|
|21.123333333333335| 657079|
|            230.57| 657316|
|             619.0| 658012|
|11.799999999999999| 658124|
| 33.45252777805226| 660353|
|36.007333336588864| 660439|
|           7554.62| 660810|
|             40.29| 660911|
|  11.7839999990576|  66584|
| 92092.76205761795| 666326|
|           203.382| 668630|
| 132.9120000229904| 670138|
|14.850333332977984| 671275|
|21.107715788644494| 673203|
|          4130.536| 674680|
|  69.5565238369193| 676594|
|             58.19| 676599|
|              90.5| 678340|
| 40.80155556303431| 680139|
|             50.91| 681761|
|193.00900000000001| 683128|
| 54.10244444505816| 683813|
|17.453379322067367| 685834|
|             12.67| 687192|
|           11.5664| 687901|
|14.220666668622131| 689217|
| 7401.899063287413| 690560|
|27.576588209723408| 694100|
|33.455999999999996| 696611|
|          27219.32| 696726|
|             20.18| 698632|
| 61.59431251946394| 699985|
| 6.563777776942163| 703176|
|25.923470604411424| 705142|
|  33.3962325467495|  71047|
|             35.83| 715727|
|         55048.176| 715947|
|          4160.982| 717744|
|12.488333331684338| 718975|
|           1404.13| 722591|
|13.863333335730665| 738760|
|             47.28| 739415|
| 9.222666666043734| 740669|
|           362.805| 740877|
| 789.8033333333333| 741054|
|        19234.3728| 742499|
|23399.998000000003| 742855|
|            30.674| 746554|
|             70.68| 747887|
| 8.358748045879008| 748558|
|10.897428569650515| 751276|
|           4535.29| 753162|
|  379.795333940979| 753962|
| 22.62675000185668| 754822|
|             41.83| 755195|
|14.065333332383467|  75602|
|15.308963279497542| 756251|
|            767.76| 757036|
|             18.07| 757434|
|11.995373333413818| 757926|
|19.507218749768285| 758005|
|             25.45| 760076|
|             10.45| 760974|
| 5496.202292804047| 761015|
| 13.50951562470876| 761108|
|16.512354287024184| 761518|
|          32.68325| 761731|
|10.287238094518036| 761900|
|21.321386123342613| 763392|
|40.859936517356644| 763518|
|59.502750000000006| 764076|
|            112.76| 764131|
| 6801.835570898011| 765956|
| 33.77160001564681| 767331|
|             43.64| 767943|
|            17.826| 768121|
|18.180666668358064| 768500|
| 64.45333334057068| 769318|
|19.060619050877655| 769785|
| 264.0065000245677| 770340|
| 94.62097999833279| 773162|
| 9.122106666827769| 773227|
|23.577714281528458| 773661|
|          18739.29| 775072|
|  23.8387301617875| 775788|
| 46.28822223024364| 776228|
|          13436.97| 778472|
|            526.15| 779154|
| 8.167666666621745| 784154|
|          11336.13| 784525|
|          10580.67| 785881|
|              8.33| 786316|
| 46.87234849079525| 786418|
|  4498.19370367053| 786926|
| 68538.88570751259| 788578|
|10858.476087283498| 789315|
| 51959.36453442044| 790247|
|18.568000389858103| 793185|
|24.389529441167337| 794066|
|            51.917| 794421|
|41.314319999999995| 795095|
| 23.58453333604313| 795837|
|11.749333322279867| 796107|
|           3527.64| 796618|
|            10.476| 797201|
|11734.169999999998| 797558|
|         109159.66| 798249|
|23656.740408380647| 799267|
|           200.704| 799386|
|            19.857| 800509|
|18.255566663629892| 801836|
|            742.14| 802967|
|            102.48| 804022|
|            252.37| 807422|
|29.058370626449275| 808131|
|25.847500000591687| 808161|
| 300.3265701475857| 810207|
|111.08333333333333| 810239|
|          34411.76| 812045|
|22.887037705758416|  81206|
|  7.21247619370124|  81355|
|           27.2775| 813944|
| 34.97466666666667| 815981|
|           1510.84| 816850|
|           8810.92| 818389|

In [10]:
temp = spark.sql(sql)
temp.createOrReplaceTempView("temp")
sql = '''SELECT a.*, b.`average price`
       FROM dataset a LEFT JOIN temp b 
       ON a.product = b.product
       ORDER BY order_date'''
dataset = spark.sql(sql)
dataset.createOrReplaceTempView('dataset')
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- view_date3: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- device: string (nullable = true)
 |-- product: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- store: string (nullable = true)
 |-- company: string (nullable = true)
 |-- view_date10: string (nullable = true)
 |-- gross total volume: string (nullable = true)
 |-- product net cost: string (nullable = true)
 |-- product net revenue: string (nullable = true)
 |-- gross merchandise volume: string (nullable = true)
 |-- item sold: string (nullable = true)
 |-- pageviews: string (nullable = true)
 |-- is_banner: string (nullable = true)
 |-- is_tax: string (nullable = true)
 |-- is_market_place: string (nullable = true)
 |-- material_status: string (nullable = true)
 |-- current_price_range: string (nullable = true)
 |-- cmc_division: string (nullable = true)
 |-- cmc_business_unit: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- average cost: double (nullable = true)
 |-- average price: double (nullable = true)

In [11]:
dataset.createOrReplaceTempView('dataset')
spark.catalog.dropTempView('temp')

#### Calculando Absolute e Percentage Margin

In [12]:
dataset = dataset.withColumn('absolute margin', (dataset['product net revenue'] - dataset['product net cost']) / dataset['product net revenue'])

In [13]:
dataset = dataset.withColumn('percentage margin', dataset['absolute margin'] * 100)

In [14]:
dataset.createOrReplaceTempView('dataset')
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- view_date3: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- device: string (nullable = true)
 |-- product: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- store: string (nullable = true)
 |-- company: string (nullable = true)
 |-- view_date10: string (nullable = true)
 |-- gross total volume: string (nullable = true)
 |-- product net cost: string (nullable = true)
 |-- product net revenue: string (nullable = true)
 |-- gross merchandise volume: string (nullable = true)
 |-- item sold: string (nullable = true)
 |-- pageviews: string (nullable = true)
 |-- is_banner: string (nullable = true)
 |-- is_tax: string (nullable = true)
 |-- is_market_place: string (nullable = true)
 |-- material_status: string (nullable = true)
 |-- current_price_range: string (nullable = true)
 |-- cmc_division: string (nullable = true)
 |-- cmc_business_unit: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- average cost: double (nullable = true)
 |-- average price: double (nullable = true)
 |-- absolute margin: double (nullable = true)
 |-- percentage margin: double (nullable = true)

#### Convertendo datas

Checando se todas as datas de uma mesma coluna seguem o mesmo padrão de tamanho, procurando possíveis valores discrepantes (date e timestamp misturados) que precisam ser tratados

In [15]:
sql = 'SELECT order_date FROM dataset WHERE LENGTH(order_date) > 8'
spark.sql(sql).show(n=1000, truncate=False)

+----------+
|order_date|
+----------+
+----------+

In [16]:
'''TESTAR 
utc_zone =  tz.gettz('UTC')

func = udf(lambda x: parser.parse(x).astimezone(utc_zone).isoformat(),  StringType())

test = fact.withColumn("order_date2",func(col("order_date")))
test.createOrReplaceTempView('test')
test.cache()
spark.sql('select order_date order_date2 from test limit 5').show(truncate=False)
spark.sql('select DATE(order_date) from test ORDER BY order_date').show(truncate=False)'''

'TESTAR \nutc_zone =  tz.gettz(\'UTC\')\n\nfunc = udf(lambda x: parser.parse(x).astimezone(utc_zone).isoformat(),  StringType())\n\ntest = fact.withColumn("order_date2",func(col("order_date")))\ntest.createOrReplaceTempView(\'test\')\ntest.cache()\nspark.sql(\'select order_date order_date2 from test limit 5\').show(truncate=False)\nspark.sql(\'select DATE(order_date) from test ORDER BY order_date\').show(truncate=False)'

Criando a função de conversão para 'order_date', pois todas as outras formas de conversão testadas anteriormente
retornaram 'null' ou datas errôneas

In [17]:
def date_carai(x):
    return x[:4] + '-' + x[4:6] + '-' + x[6:]

squared_udf = udf(lambda y: date_carai(y), StringType())

dataset = dataset.withColumn('order_date', squared_udf('order_date'))

In [18]:
dataset.createOrReplaceTempView('dataset')
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- view_date3: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- device: string (nullable = true)
 |-- product: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- store: string (nullable = true)
 |-- company: string (nullable = true)
 |-- view_date10: string (nullable = true)
 |-- gross total volume: string (nullable = true)
 |-- product net cost: string (nullable = true)
 |-- product net revenue: string (nullable = true)
 |-- gross merchandise volume: string (nullable = true)
 |-- item sold: string (nullable = true)
 |-- pageviews: string (nullable = true)
 |-- is_banner: string (nullable = true)
 |-- is_tax: string (nullable = true)
 |-- is_market_place: string (nullable = true)
 |-- material_status: string (nullable = true)
 |-- current_price_range: string (nullable = true)
 |-- cmc_division: string (nullable = true)
 |-- cmc_business_unit: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- average cost: double (nullable = true)
 |-- average price: double (nullable = true)
 |-- absolute margin: double (nullable = true)
 |-- percentage margin: double (nullable = true)

In [ ]:
dataset.show(n=5, truncate=False)

#### Calculando Variation in Average Price Per Item (% vs. last day)

Realizando cálculo de average cost per item per day para ser utilizado posteriormente

In [ ]:
sql = '''SELECT t.total_sum / b.weight_sum AS `average cost per day`, t.product, t.order_date
         FROM (SELECT SUM(a.price_sum * a.weights) AS total_sum, 
                     a.product, 
                     order_date
                FROM (SELECT SUM(`product net cost`) AS price_sum, `item sold` AS weights, product, order_date
                      FROM dataset
                      WHERE `item sold` > 0.0 AND `product net cost` > 0.0
                      GROUP BY product, order_date, `item sold`) AS a
                GROUP BY a.product, a.order_date) AS t
         JOIN (SELECT SUM(`item sold`) AS weight_sum, 
                     product, 
                     order_date
                  FROM dataset
                  WHERE `item sold` > 0.0 AND `product net cost` > 0.0
                  GROUP BY product, order_date) AS b
         ON t.product = b.product AND t.order_date = b.order_date'''

temp = spark.sql(sql)

In [ ]:
temp.createOrReplaceTempView('temp')
temp.printSchema()

In [ ]:
sql = '''SELECT a.*, b.`average cost per day`
        FROM dataset a LEFT JOIN temp b
        ON a.product = b.product AND a.order_date = b.order_date'''
dataset = spark.sql(sql)

In [ ]:
dataset.createOrReplaceTempView('dataset')

Calculando Variation in Average Price Per Item

In [ ]:
sql = '''WITH daily_avg AS (SELECT DATE(order_date) date, product, `average cost per day` avg
                FROM dataset
                GROUP BY product, date, avg)
        SELECT (((avg - yesterday_avg) / yesterday_avg) * 100) AS `variation in averge price`, 
                date, 
                product
        FROM (SELECT today_avg.avg AS avg, 
                today_avg.date AS date, 
                today_avg.product AS product, 
                lastday_avg.avg AS yesterday_avg
            FROM daily_avg AS today_avg 
            LEFT JOIN daily_avg AS lastday_avg
            WHERE today_avg.product = lastday_avg.product
            AND today_avg.date = DATE_SUB(lastday_avg.date, 1))'''

temp = spark.sql(sql)
temp.createOrReplaceTempView('temp')

In [ ]:
sql = '''SELECT a.*, b.`variation in averge price`
        FROM dataset a LEFT JOIN temp b
        ON a.order_date = b.date
        AND a.product = b.product'''

dataset = spark.sql(sql)

In [ ]:
dataset = dataset.drop('average cost per day')
dataset.createOrReplaceTempView('dataset')
dataset.cache()
spark.catalog.dropTempView('temp')
dataset.printSchema()

#### Mapeando gender

In [ ]:
dataset.select('gender').distinct().show(n=1000, truncate=False)

Devido aos possíveis valores de 'gender', escolhi reduzir a apenas quatro possibilidades, sendo elas Masculino, Feminino, Intanfil e Unissex

In [ ]:
def gender(x):
    x = x.lower()
    infantil = ['beb', 'niñ', 'infantil', 'menina']
    y = ['menino', 'menina']
    if any (_ in x for _ in infantil) or any (_ is x for _ in y):
        return 'Infantil'
    elif ('uni' in x) or (('masc' in x) and ('fem' in x)) or (('boy' in x) and ('girl' in x)):
        return 'Unissex'
    elif ('fem' in x) or (x == 'girls'):
        return 'Feminino'
    elif ('masc' in x) or (x == 'boys') or (x == 'menino'):
        return 'Masculino'

gender_udf = udf(lambda y: gender(y), StringType())

dataset = dataset.withColumn('gender', gender_udf('gender'))

In [ ]:
dataset.select('gender').distinct().show(truncate=False)

In [ ]:
dataset.createOrReplaceTempView('dataset')
dataset.cache()

#### ISO 8601

In [ ]:
dataset = dataset.withColumn('order_date', to_timestamp('order_date'))

iso_converter_udf = udf(lambda y: str(y).replace(' ', 'T') + 'Z', StringType())

dataset = dataset.withColumn('order_date', iso_converter_udf('order_date'))

In [ ]:
dataset.select('order_date').show()

In [ ]:
dataset.createOrReplaceTempView('dataset')
dataset.cache()

#### Removendo alguns campos que não estão diretamente ligados a produto

In [ ]:
dataset = dataset.drop('id', 
               'view_date3', 
               'view_date10', 
               'device', 
               'is_banner', 
               'is_tax', 
               'is_market_place', 
               'material_status','channel')

In [ ]:
dataset.show()

In [ ]:
dataset.createOrReplaceTempView('dataset')
dataset.cache()

#### To JSON

In [ ]:
to_disk = dataset.toJSON()

In [ ]:
to_disk.first()

Salvando em disco, para exemplificar saída para ElasticSearch

In [ ]:
#to_disk.saveAsTextFile('dataset_final.txt')

#### Questions

1 -

In [ ]:
dataset.describe('order_date').show()

In [ ]:
dataset.describe('product').show()

In [ ]:
x=spark.sql('SELECT count(product), order_date FROM dataset group by order_date').toPandas()

In [ ]:
x.hist()

O número de produtos relacionados com cada um dos timestamps é assimetrico, tendo assim uma pior distribuição dos dados entre as partições, o que faz com que a computação dos dados seja ineficiente do ponto de vista de poder computacional, onde um grupo de partições realizará muitas mais operações que os restantes, aumentando o tempo necessário para computar determinada transformação.

Isso pode ser corrigido utilizando a técnica de Salting, que adiciona um valor randômico, de 0 até N, de forma a dividir os dados em N partições, fazendo com que esses dados da dimensão sejam melhor distribuídos.

2 - Modificar o Mapping, como segue:

In [ ]:
'''{
  "template": "beluga_timestamp_index-*",
  "settings": {
    "index": {
      "refresh_interval": "5s"
    }
  },
  "mappings": {
    "_default_": {
      "dynamic_templates": [
        {
          "strings": {
            "match": "*",
            "match_mapping_type": "string",
            "mapping":   { 
                            "type": "string",  
                            "doc_values": true, 
                            "index": "not_analyzed" 
                        }
          }
        }
      ],
      "_all":            { "enabled": false },
      "_source":         { "enabled": true },
      "properties": {
        "order_date":                  { "type": "date",    "doc_values": true, "format": "yyyy-MM-dd'T'HH:mm:ssZ" },
        "product":                    { "type": "integer", "doc_values": true, "index": "no" },
        "currency":                   { "type": "float",   "doc_values": true, "index": "no" },
        "store":                      { "type": "float",   "doc_values": true, "index": "no" },
        "company":                    { "type": "float",   "doc_values": true, "index": "no" },
        "current_price_range":        { "type": "integer", "doc_values": true, "index": "no" },
        "cmc_division":               { "type": "integer", "doc_values": true, "index": "no" },
        "cmc_business_unit":          { "type": "float",   "doc_values": true, "index": "no" },
        "gender":                     { "type": "float",   "doc_values": true, "index": "no" },
        "gross total volume":         { "type": "float",   "doc_values": true, "index": "no" },
        "product net cost":           { "type": "float",   "doc_values": true, "index": "no" },
        "product net revenue":        { "type": "float",   "doc_values": true, "index": "no" },
        "gross merchandise volume":   { "type": "float",   "doc_values": true, "index": "no" },
        "item sold":                  { "type": "float",   "doc_values": true, "index": "no" },
        "pageviews":                  { "type": "float",   "doc_values": true, "index": "no" },
        "average cost":               { "type": "float",   "doc_values": true, "index": "no" },
        "average price":              { "type": "float",   "doc_values": true, "index": "no" },
        "absolute margin":            { "type": "float",   "doc_values": true, "index": "no" },
        "percentage margin":          { "type": "boolean", "doc_values": true, "index": "no" },
        "variation in averge price":  { "type": "string",  "doc_values": true, "index": "no" }
      }
    }
  }
}'''

"order_date" é a única propriedade indexada, pois as pesquisas serão feitas com base nesse campo. Os outros não são indexados pois são dados que serão apenas retornados na query.

"_all" setado em False pelo mesmo motivo acima citado

"doc_values" estão habilitados para contornar o problema de estouro de heap memory de fielddata quando são feitas grandes quantidades de aggregations e sorting.